@import "../styles/_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@500&display=swap");

body {
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0 auto;
}
main {
  max-width: 1440px;
  height: fit-content;

  margin: 0 auto;
  padding-top: 110px;
  padding-left: 243px;
  padding-right: 265px;

  //ignore
  @media only screen and (max-width: 747px) {
    //
    & {
      flex-direction: column;
      padding: 0;
      margin: 0;
      align-items: flex-start;
      padding-left: 12px;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media only screen and (max-width: 1413px) {
    //
    & {
      align-items: baseline;
    }
  }
  @media only screen and (max-width: 747px) {
    //
    & {
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
  }
  h2 {
    height: fit-content;
    width: 278px;

    margin-right: 30px;

    font-family: "PT Serif";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
    text-align: left;
    @media only screen and (max-width: 1091px) {
      //
      & {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 10px;
      }
    }
    @media only screen and (max-width: 747px) {
      //
      & {
        background-color: white;
        color: black;
        padding: 0px;
        border-radius: 0px;

        display: block;
        margin: 0;
        margin-top: 71px;
        margin-bottom: 38px;

        font-family: "PT Serif";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.045em;
        text-align: left;
      }
    }
    @media only screen and (max-width: 299px) {
      & {
        min-width: 0;
        width: 100%;
        font-size: 26px;
      }
    }
  }
  .headerContent {
    h5 {
      height: 27px;
      width: 117px;
      left: 736px;
      top: 110px;

      font-family: "Poppins";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;

      @media only screen and (max-width: 747px) {
        //
        & {
          font-family: "Poppins";
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
    p {
      max-height: 87px;
      max-width: 439px;

      font-family: "Poppins";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;

      @media only screen and (max-width: 1281px) {
        & {
          min-width: 339px;
          max-height: 110px;
        }
      }
      @media only screen and (max-width: 747px) {
        //
        & {
          font-family: "Poppins";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;

          margin-top: 10px;

          min-height: 87px;
          max-width: 747px;
          width: 100%;
        }
      }

      @media only screen and (max-width: 375px) {
        & {
          min-width: 0;
        }
      }
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: 500px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 500px) {
    .imageContainer:nth-child(2n + 2) {
      margin-top: 111px;
      h6 {
        top: 0;
      }
    }
  }
  @media only screen and (max-width: 350px) {
    & {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .imageContainer {
    position: relative;

    height: fit-content;
    max-width: 305.2px;
    width: fit-content;

    margin-top: 96px; //96+73//38+73
    margin-right: 28.54px;

    border-radius: 0px;

    h6 {
      position: absolute;

      top: 5px;
      right: -18px;

      writing-mode: vertical-lr;
      text-transform: uppercase;

      font-family: "PT Serif";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: left;
      @media only screen and (max-width: 500px) {
        & {
          top: 0px;
        }
      }
      @media only screen and (max-width: 350px) {
        & {
          top: 0px;
          right: 0px;

          font-weight: 800;
          font-size: 14px;

          background-color: rgba(78, 48, 134, 0.034);
          color: rgb(0, 0, 0);

          padding: 5px;

          border-radius: 10px;
        }
      }
      @media only screen and (max-width: 294px) {
        & {
          background-color: rgba(78, 48, 134, 0.034);
          color: white;
        }
      }
    }
    h4 {
      font-family: "Poppins";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
    }
    @media only screen and (max-width: 500px) {
      & {
        margin-top: 38px;
        margin-right: 38px;
      }
    }
  }
  .imageContainer:nth-child(3n + 2) {
    padding-top: 60px;
    h6 {
      top: 60px;
    }
    @media only screen and (max-width: 500px) {
      //
      & {
        padding-top: 0px;
      }
    }
    @media only screen and (max-width: 350px) {
      & {
        padding-top: 0px;
      }
    }
  }
  img {
    max-width: 237px;
    min-width: 138.72px;
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
}

footer {
  padding-bottom: 24px;
  padding-top: 30px;

  p {
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #bdbdbd;

    span {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
